body {
	background: #FFF;
	color: #333;
	font-family: Lato, Segoe UI, sans-serif;
	font-size: 15pt;
	line-height: 1.2;
}

.impress-enabled {
	font-size: 30pt;
}

a {
	color: #0ac68c;
	text-decoration: none;
}

a:hover {
	color: #088a62;
}

#page {
	margin: 10px auto;
	width: 960px;
}

.step {
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	opacity: 0.15;
	text-align: center;
	transition: opacity 1s;
	width: 900px;	
}

.step.active {
	opacity: 1
}

table {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: none;
	border-collapse: collapse;
	box-sizing: border-box;
	margin: 20px 0 30px;
	width: 100%;
}

td,
th {
	border: 1px #bbb;
	border-style: solid none;
	padding: 8px 4px;
	text-align: center;
}

th {
	font-size: 120%;
	font-weight: bold;
}

td:first-child,
th:first-child {
	text-align: left;
	width: 99%;
}

ul {
	text-align: left;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-size: 1.75em;
	font-weight: bold;
}

button {
	background: #0ac68c;
	border: none;
	border-top: 8px solid #bfe1d6;
	color: #FFF;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	padding: 5px;
}

.impress-enabled button {
	padding: 20pt;
}

button:hover {
	border-top: 8px solid #07855e;
}

button:active {
	border-top: 8px solid #034933;
	position: relative;
	top: 2px;
}

table button {
	background: none repeat scroll 0 0 #EEEEEE;
	border-radius: 6px;
	box-shadow: none;
	color: #333333;
	margin: 3px;
	padding: 3px;
	width: 35px;
}

pre {
	text-align: left;
}

pre,
code {
	color: #063;
}

.api {
	font-size: 18pt;
}

input[type=text] {
	background: #fff;
	border: none;
	border-bottom: 1px solid #0ac68c;
	border-left: 3px solid #0ac68c;
	font-family: inherit;
	font-size: inherit;
	padding: 4px;
	width: 300px;
}

.playground {
	margin: 50px auto;
	text-align: center;
	width: 960px;
}

.playground button {
	padding: 20px;
}

.playground #results {
	border: 1px solid #0ac68c;
	margin-top: 50px;
	padding: 40px;
}